# Packages # 
############ 
bin/*
temp/*
debug/*
hippo/debug/*
hippo/bin/*
publicsrc/base/bin/*
win32/debug/*
log/*

 # Compiled source # 
###################
*.exe 
*.o
*.db
*.opendb
*.exp
*.user
*.suo

